/* font-family: 'Quicksand', sans-serif; 
font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'DM Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color:#F51843;
    --color-main:#291E97;
    --color:#0C0833;
    --color-Color:#8F6DFF;
}
body{
    background-color: #F9FAFF;
}
a{
    text-decoration: none;
}
.header{
    height: 300px;
    padding-top: 120px;
    margin-bottom: 70px;
}
.bg-color{
    background-color: var(--color);
}
.bg-main-color{
    background-color: var(--main-color);
}
.bg-color-main{
    background-color: var(--color-main);
}
.bg-color-Color{
    background-color: var(--color-Color);
}
.text-dark-blue{
    color:#080337;
}
.text-main-color{
    color: var(--main-color);
}
.navbar .nav-link{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    color: rgb(8, 3, 55);
}
.navbar .button_title{
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(233, 233, 233);
}
.navbar span{
    color: white !important;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 56.984px;
    font-size: 700;
    line-height: 56.984px;
    color: rgb(8, 3, 55);
}
header i{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-size: 400;
    line-height: 15px;
    color: rgb(8, 3, 55);
}
.div h2{
    font-family: Quicksand, sans-serif;
    font-size: 23.987px;
    font-weight: 700;
    line-height: 28.7844px;
    color: rgb(8, 3, 55);
}
.div p{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: rgb(120, 124, 139);
}
.contac .title span{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: rgb(8, 3, 55);
}
.contac .title h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 56.984px;
    font-weight: 700;
    line-height: 56.984px;
    color: rgb(8, 3, 55);
}
.contac p{
    font-family:  "DM Sans", sans-serif;
    font-size:  17px;
    font-weight: 400;
    line-height:  27.88px;
    color: rgb(120, 124, 139);
}
.address{
    font-family:  "DM Sans", sans-serif;
    font-size:  17px;
    font-weight: 400;
    line-height: 28.9px;
    color: rgb(120, 124, 139);
}
.num{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(8, 3, 55);
}
.email{
    font-family:  "DM Sans", sans-serif;
    font-size:  17px;
    font-weight: 400;
    line-height:  27.88px;
    color: rgb(120, 124, 139);
}
i{
    font-family:  "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.2px;
    color:rgb(143, 109, 255);
}
.icon i:hover{
    color: rgb(8, 3, 55);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
form span{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    color: rgb(255, 255, 255);
}
.collected {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(120, 124, 139);
}

.agree{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(120, 124, 139);
}
a:hover{
    color: rgb(8, 3, 55);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
input[type="email"] {
    padding: 0.7em 0.7em 0.7em 3.4em;
    font-size: 14px;
    line-height: 18px;
    width: calc(100% - 54px);
    margin: 0;
    height: 50px;
    background-color: var(--theme-color-alter_bg_color) !important;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05) !important;
    -ms-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05) !important;
}

input {
    caret-color: #F51843 !important;
    border-bottom:  3px solid red !important;
}

.form-control{
    border: 2px solid #F9FAFF !important;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 100%;
    outline: none;
    border-bottom:3px ;
}
textarea{
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 100%;
    outline: none;
}
.form-input{
position: relative;
display: flex;
align-items: center;
width: 100%;
margin: 10px 0;
}
.icone{
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    color:#1D1D1D;
    height: 100%;
    display: flex;
    align-items: center;
}
.dive img {
    opacity: .3;
    transition: .5s;
}
.dive img:hover{
    opacity: 1;
}